.profile__title {
    grid-area: title;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}

@media screen and (min-width: 320px) and (max-width: 780px) {
    .profile__title {
        font-size: calc((100vw - 320px)/(780 - 320)*(42 - 27) + 27px);
        line-height: 33px;
    }    
}