.elements {
    margin: 0 auto 67px;
    padding: 0;
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 17px; 
}

@media screen and (min-width: 650px) and (max-width: 900px) {
    .elements {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
    }    
}

@media screen and (min-width: 320px) and (max-width: 649px) {
    .elements {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap: 20px;
        margin-bottom: 48px;
    }    
}